* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    min-height: 65px;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #FF6900;
    position: fixed;
    z-index: 2000;

}

hr {
    background-color: darkgrey;
}

.navbar .navbar-content {
    color: blanchedalmond;
}

.navbar-logo .logo-boolean {
    width: 145px;
    height: 30px;

}

.navbar .navbar-icons {
    display: flex;
    color: blanchedalmond;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem 1rem;
    padding-top: 120px;
}

.row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.col {
    flex-basis: calc(100% / 3 - 25px);
    flex-grow: 1;
}

.product {
    position: relative;
}

.user-button,
.hearth-button,
.shopping-bag {
    padding: 5px;
}

.product .product-img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.product .product-img-hover {
    display: none;
}


.product:hover .product-img {
    width: 130%;
    left: -15%;
}

.product:hover .product-img-hover {
    display: block;
}

.product:hover .product-img-default {
    display: none;
}

.product .product-discount {
    position: absolute;
    bottom: 30px;
    left: 0px;

}

.product-discount-description {
    position: absolute;
    bottom: 30px;
    left: 40px;

}

.fa-solid {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

}

.ft {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 65px;
    background-color: black;
    min-height: 80px;
    color: blanchedalmond;
}

.ft-link {
    text-decoration: none;
    color: blanchedalmond;
}